body {
    text-align: center;
  }
  .cuadro{
    border: 2px solid black;
    padding: 15rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  h1 {
    font-size: 50px;
    margin-top: 20px;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
 .subtitulo{
    font-size: 25px;
  }
  
  #mensaje {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
  }
  